:root {
  --c-yellow: #ffc107;
  --c-gray: #2b2a2a;
  --bgc-gray: #111;
  --main-trans: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgc-gray);
  position: relative;
}

body .before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--c-gray);
  visibility: hidden;
  z-index: 99;
  -webkit-animation: 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
          animation: 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

@-webkit-keyframes cha-eff {
  0% {
    visibility: visible;
    top: 0;
  }
  100% {
    visibility: visible;
    top: 100%;
  }
}

@keyframes cha-eff {
  0% {
    visibility: visible;
    top: 0;
  }
  100% {
    visibility: visible;
    top: 100%;
  }
}
::-moz-selection {
  color: #fff;
  background-color: var(--c-yellow);
}
::selection {
  color: #fff;
  background-color: var(--c-yellow);
}

a {
  color: #fff;
}

h1 {
  font-weight: 800;
}

h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

/*start to style the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--c-gray);
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--bgc-gray) inset;
  border: 2px solid var(--c-gray);
}

/*finish styling the scrollbar */
/* start to style the COMP-LINK */
.comp-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #fff;
  border: 2px solid var(--c-yellow);
  border-radius: calc(1.5rem + 2px);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.comp-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--c-yellow);
  transition: ease-in-out var(--main-trans);
}

.comp-link:hover::before {
  left: 0;
  transition: ease-in-out var(--main-trans);
}

.comp-link span {
  z-index: 2;
  margin: 0 15px;
}

.comp-link i {
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  background-color: var(--c-yellow);
  display: grid;
  place-content: center;
  border-radius: 50%;
  z-index: 2;
}

/* finished styling the COMP-LINK */
/* start to style the HEADER COMPONENT */
.header-component {
  font-size: 3.5rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-component span {
  color: var(--c-yellow);
}

.header-component .text-in-back {
  position: absolute;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  color: var(--c-gray);
  z-index: -1;
}

@media (max-width: 767px) {
  .header-component {
    font-size: 3rem;
  }
  .header-component .text-in-back {
    font-size: 6rem;
    letter-spacing: initial;
  }
}
@media (max-width: 575px) {
  .header-component {
    font-size: 2.5rem;
  }
  .header-component .text-in-back {
    font-size: 4.6rem;
    /* position: absolute; */
  }
}
/* finish from styling the HEADER COMPONENT */
/* start to style the container */
#home,
#about,
#contact,
#portfolio,
#blog {
  min-height: 100vh;
  padding: 0 4.5rem 1rem;
  color: #fff;
}

@media (max-width: 575px) {
  #home,
#about,
#contact,
#portfolio,
#blog {
    padding: 1rem;
    padding-bottom: 4rem;
    overflow-x: hidden;
  }
}
/* finished from styling the container */
/* start the INFO-BAR styles */
.info-bar {
  position: fixed;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--c-gray);
  color: #ccc;
  width: 3rem;
  padding: 1em 0;
  border-radius: 1rem;
  z-index: 98;
}

@media (max-width: 575px) {
  .info-bar {
    display: none;
  }
}
.info-bar .date {
  text-align: center;
  font-size: 14px;
}

.date .day {
  color: var(--c-yellow);
  font-size: initial;
}

.info-bar > p {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.info-bar > p::after {
  content: "";
  height: 3rem;
  width: 1px;
  background-color: var(--c-yellow);
  margin-top: 1rem;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.info-bar i {
  display: block;
  transition: 0.1s;
}

.info-bar i:hover {
  transition: 0.1s;
  scale: 1.1;
  rotate: -5deg;
}

.fa-facebook {
  color: #3b5998;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-whatsapp {
  color: #128c7e;
}

/* finished from the info-bar styles */
/* start the NAV-BAR styles */
.nav-bar {
  position: fixed;
  right: 0.75rem;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  z-index: 98;
}

.nav-bar ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-bar ul li {
  width: 3rem;
  height: 3rem;
  background-color: var(--c-gray);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--main-trans);
}

.nav-bar ul li.active {
  background-color: var(--c-yellow);
}

.nav-bar ul li.active i {
  color: #fff;
}

.nav-bar ul li:hover {
  background-color: var(--c-yellow);
  overflow: visible;
  transition: var(--main-trans);
}

.nav-bar ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 0;
}

.nav-bar ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  transition: color var(--main-trans);
  color: #ccc;
}

.nav-bar ul li:hover i {
  transition: color var(--main-trans);
  color: #fff;
}

.nav-bar ul li h2 {
  position: absolute;
  color: #fff;
  right: 0;
  height: 100%;
  background-color: var(--c-yellow);
  font-size: 1.2rem;
  display: grid;
  place-content: center;
  padding-left: 1rem;
  border-radius: 1.5rem;
  z-index: -1;
  padding-right: 0;
  opacity: 0;
  transition: var(--main-trans);
}

.nav-bar ul li:hover h2 {
  padding-right: 3rem;
  opacity: 1;
  transition: var(--main-trans);
}

@media (max-width: 575px) {
  .nav-bar {
    bottom: 0;
    right: 0;
    transform: none;
    width: 100%;
    background-color: var(--c-gray);
  }
  .nav-bar ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
    padding: 0.5rem 0;
  }
  .nav-bar ul li {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #444;
  }
  .nav-bar ul li:hover {
    overflow: hidden;
  }
}
/* finish the NAV-BAR styles */
#home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: var(--c-yellow);
  z-index: -1;
  left: -80%;
  rotate: -20deg;
}

#home img {
  width: 22rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 15px #000;
}

@media (max-width: 965px) {
  #home {
    flex-direction: column;
    text-align: center;
  }
  #home::before {
    display: none;
  }
  #home img {
    width: 220px;
    border-radius: 50%;
    border: 5px solid var(--c-gray);
  }
  #home .comp-link {
    margin: auto;
  }
}
.brief-de h1 span {
  color: var(--c-yellow);
  text-shadow: 0 0 5px rgba(255, 255, 0, 0.2);
}

.brief-de > p {
  margin: 1rem 0;
}

@media (max-width: 575px) {
  .brief-de h1 {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
#about > div {
  padding: 4rem 0;
}

/* personal info */
#about > .per-info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 1rem;
}

.per-info > div {
  flex-basis: calc(50% - 0.5rem);
}

@media (max-width: 1100px) {
  .per-info > div {
    flex-basis: 100%;
  }
}
.per-info > div:nth-child(1) h2 {
  margin-bottom: 1.5rem;
}

.per-info > div:nth-child(1) div {
  text-transform: capitalize;
  display: grid;
  row-gap: 1rem;
}

@media (min-width: 640px) {
  .per-info > div:nth-child(1) div {
    grid-template-columns: repeat(2, 1fr);
  }
}
.per-info > div:nth-child(1) div p {
  color: #aaa;
}

.per-info > div:nth-child(1) div p span {
  margin-top: 10px;
  color: #fff;
  display: block;
}

@media (max-width: 639px) {
  .per-info > div:nth-child(1) div p span {
    display: inline;
    padding-left: 5px;
  }
}
@media (min-width: 840px) and (max-width: 1100px) {
  .per-info > div:nth-child(1) div p span {
    display: inline;
  }
}
.per-info > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 1.5rem;
}

.per-info > div:nth-child(2) .box {
  border: 1px solid var(--c-gray);
  border-radius: 5px;
  padding: 1.5rem 2rem;
}

.per-info > div:nth-child(2) .box h1 {
  font-size: 3rem;
  color: var(--c-yellow);
}

.per-info > div:nth-child(2) .box sup {
  font-size: 2rem;
  font-weight: 400;
}

.per-info > div:nth-child(2) .box p {
  position: relative;
  padding-left: 2.5rem;
  text-transform: uppercase;
}

.per-info > div:nth-child(2) .box p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 2rem;
  height: 1px;
  background-color: #aaa;
}

/* skills */
.skills {
  text-transform: uppercase;
  position: relative;
}

.skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 20rem;
  background-color: var(--c-gray);
}

.skills::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 20rem;
  background-color: var(--c-gray);
}

.skills h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.skills > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}

.skills > div .skill {
  text-align: center;
}

.skills > div .skill div {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin: auto;
  display: grid;
  place-content: center;
}

.skills > div .skill div h1 {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc-gray);
}

.skills > div .skill:nth-child(1) div {
  background-image: conic-gradient(var(--c-yellow) 90%, var(--c-gray) 91%);
}

.skills > div .skill:nth-child(2) div {
  background-image: conic-gradient(var(--c-yellow) 75%, var(--c-gray) 76%);
}

.skills > div .skill:nth-child(3) div {
  background-image: conic-gradient(var(--c-yellow) 85%, var(--c-gray) 86%);
}

.skills > div .skill:nth-child(4) div {
  background-image: conic-gradient(var(--c-yellow) 25%, var(--c-gray) 26%);
}

.skills > div .skill p {
  margin-top: 1rem;
}

/* experience & education */
.exp-edu > h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
}

.exp-edu > h2::before,
.exp-edu > h2::after {
  content: "";
  position: absolute;
  top: 30px;
  width: 12rem;
  height: 20px;
  border: 1px solid;
}

.exp-edu > h2::before {
  right: 60%;
  border-color: transparent var(--c-yellow) var(--c-yellow) transparent;
}

.exp-edu h2::after {
  left: 60%;
  border-color: transparent transparent var(--c-yellow) var(--c-yellow);
}

.exp-edu > div {
  display: flex;
  gap: 1em;
}

@media (max-width: 767px) {
  .exp-edu > div {
    flex-direction: column;
  }
  .exp-edu > h2::before,
.exp-edu > h2::after {
    display: none;
  }
}
.exp-edu > div > div {
  flex-basis: 50%;
}

.exp-edu .box {
  display: flex;
  gap: 10px;
  position: relative;
}

.exp-edu .box i {
  min-width: 2em;
  height: 2em;
  display: grid;
  place-content: center;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--bgc-gray) inset;
  background-color: var(--c-yellow);
}

.exp-edu .box::before {
  content: "";
  position: absolute;
  top: 2em;
  height: calc(100% - 2em);
  width: 1px;
  background-color: var(--c-gray);
  left: 1em;
}

.exp-edu .year {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--c-gray);
  padding: 4px 10px 2px;
  border-radius: 1em;
}

.exp-edu .box h4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.exp-edu .box h4 span {
  opacity: 0.8;
  font-size: 0.9em;
}

.exp-edu .box p {
  opacity: 0.8;
}

#portfolio .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#portfolio .project {
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}

#portfolio .project::before {
  content: "";
  position: absolute;
  background-color: var(--c-yellow);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--main-trans);
}

#portfolio .project:hover::before {
  opacity: 1;
  transition: var(--main-trans);
}

#portfolio img {
  width: 100%;
  height: 100%;
}

#portfolio .project h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  opacity: 0;
  transition: var(--main-trans);
}

#portfolio .project:hover h2 {
  opacity: 1;
  top: 50%;
  transition: var(--main-trans);
}

#contact > div {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

#contact .text {
  flex-basis: 40%;
}

#contact .contact-form {
  flex-basis: calc(60% - 1em);
}

@media (max-width: 991px) {
  #contact > div {
    flex-wrap: wrap;
  }
  #contact .text,
#contact .contact-form {
    flex-basis: 100%;
  }
}
#contact .text > p {
  margin: 1rem 0 2rem;
}

#contact .text > div {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}

#contact .text > div i {
  color: var(--c-yellow);
  width: 2.2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

#contact .text > div h4 {
  font-weight: 500;
  color: #aaa;
  margin-bottom: 5px;
}

#contact .text > div p {
  text-transform: capitalize;
}

/* #contact .contact-form form {
    width: 100%;
  } */
#contact .contact-form input,
#contact .contact-form textarea {
  background-color: var(--c-gray);
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  padding-left: 1.5rem;
  min-height: 3.15rem;
  display: block;
  width: 100%;
  outline: none;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  outline: 2px solid var(--c-yellow);
}

#contact .contact-form textarea {
  margin: 1rem 0;
  resize: vertical;
  min-width: 100%;
}

#contact .contact-form form > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

@media (max-width: 767px) {
  #contact .contact-form form > div {
    flex-direction: column;
  }
}
#blog {
  display: block;
}

#blog .posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.post {
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.post .image {
  overflow: hidden;
  position: relative;
}

.post .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--c-yellow);
}

.post .image img {
  width: 100%;
  transition: var(--main-trans);
}

.post:hover img {
  scale: 1.2;
  transition: var(--main-trans);
}

.post .descr {
  background-color: var(--c-gray);
  padding: 1rem;
  height: 100%;
}

.post .descr h3 {
  transition: var(--main-trans);
}

.post:hover .descr h3 {
  color: var(--c-yellow);
  transition: var(--main-trans);
}

.post .descr p {
  color: #aaa;
}

.post .descr p:nth-of-type(1) {
  margin: 1rem 0;
}

.post .descr p:nth-of-type(2) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 14px;
}

.post .descr p:nth-of-type(2) i {
  color: var(--c-yellow);
}/*# sourceMappingURL=style.css.map */